<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table border="2">
        <tr>
            <td>ID</td>
            <td>category_name</td>
            <td>category_image</td>
            <td>Delete</td>
        </tr>
        {% for a in data %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.category_name}}</td>
            <td><img src="/media/{{a.category_image}}" alt="" srcset="" width="50"></td>
            <td>
                <a href="/cate_delete/{{a.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
    </table>

</body>
</html>