{% load static %}
<!doctype html>
<html lang="en">

<!-- Head -->
<head>
  <!-- Page Meta Tags-->
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="keywords" content="">

  <!-- Custom Google Fonts-->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;600&family=Roboto:wght@300;400;700&display=auto"
    rel="stylesheet">

  <!-- Favicon -->
  <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static 'css/libs.bundle.css'%}" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.bundle.css'%}" />

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">

  <!-- Fix for custom scrollbar if JS is disabled-->
  <noscript>
    <style>
      /**
          * Reinstate scrolling for non-JS clients
          */
      .simplebar-content-wrapper {
        overflow: auto;
      }
    </style>
  </noscript>

  <!-- Page Title -->
  <title>OldSkool | Bootstrap 5 HTML Template</title>

</head>
<body class=" bg-light">

    <!-- Main Section-->
    <section
        class="mt-0 overflow-hidden  vh-100 d-flex justify-content-center align-items-center p-4">
        <!-- Page Content Goes Here -->

        <!-- Login Form-->
        <div class="col col-md-8 col-lg-6 col-xxl-5">
           
            <div class="shadow-xl p-4 p-lg-5 bg-white">
                <h1 class="text-center mb-5 fs-2 fw-bold">Edit Account</h1>

                
                <form  method="post">
                  {% if msg %}
                  <div>
                    <h3> {{msg}} </h3>
                  </div>
                  {% endif %}
                  {% csrf_token %}
                    <div class="form-group">
                      <label class="form-label" for="register-fname">Firstname</label>
                      <input type="text" class="form-control" id="register-fname" placeholder="Enter your first name" name="Firstname" value="{{user.Firstname}}">
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="register-lname">Lastname</label>
                      <input type="text" class="form-control" id="register-lname" placeholder="Enter your last name" name="Lastname" value="{{user.Lastname}}">
                    </div>
                    <div class="form-group">
                      <label class="form-label" for="register-email">Emailaddress</label>
                      <input type="email" class="form-control" id="register-email" placeholder="name@email.com" name="Emailaddress" value="{{user.Emailaddress}}">
                    </div>
                    
                    <button type="submit" class="btn btn-dark d-block w-100 my-4" name="save">Sign Up</button>
                  </form>
                  
            </div>

        </div>
        <!-- / Login Form-->

        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->


    <!-- Theme JS -->
    <!-- Vendor JS -->
    <script src=" {% static 'js/vendor.bundle.js'%}"></script>

    <!-- Theme JS -->
    <script src="{% static 'js/theme.bundle.js'%}"></script>
</body>

</html>