<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table border="2">
        <tr>
            <td>ID</td>
            <td>sub_category_name</td>
            <td> cat_id </td>
            <td>Delete</td>
        </tr>
        {% for a in data %}
        <tr>
            <td>{{a.id}}</td>
            <td>{{a.sub_category_name}}</td>
            <td>{{a.cat_id}}</td>
            <td>
                <a href="/subcate_delete/{{a.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        
    </table>


</body>
</html>